@import "fonts";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  display: block;
  all: unset;
}

a {
  color: inherit;
  font: inherit;
  cursor: pointer;
}

:root {
  --colors-1: #5830a2;
  --colors-2: #6631a3;
  --colors-3: #ab41ac;
  --colors-4: #3e54a8;
  --colors-5: #639bd1;
  --colors-6: #f5f5f5;
  --colors-7: #ccc;

  --colors-hover: #eaeaea;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--colors-6);
  border: 1px solid transparent;

  cursor: pointer;

  &:hover {
    background-color: var(--colors-7);
  }

  &:active,
  &:focus {
    border: 1px solid var(--colors-1);
    box-shadow: 0 0 2px 1px var(--colors-3);
  }
}
